<h1>Add Gateway</h1>

<!-- <form [formGroup]="reactform">
  <mat-form-field appearance="fill">
    <mat-label>Code</mat-label>
    <input matInput formControlName="code" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <div style="margin-top: 5px">
    <button mat-raised-button color="primary">Submit</button>
    <button mat-raised-button color="accent">Clear</button>
  </div>
</form> -->
